.MainBody {
    margin: 6rem;
    display: flex;
    justify-content: center;
}
.IncBody {
    width: 45rem;
    margin-right: 6rem;
    cursor: default;
}

.ExpBody {
    cursor: default;
    width: 45rem;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2rem;
}

.IncBody h2 {
    color: #28b9b5;
    margin-bottom: 1.8rem;
}

.ExpBody h2 {
    color: #ff5049;
    margin-bottom: 1.8rem;
}
